body,html {
  margin:0;
  background-color: black;
  color:white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}



@mixin fill{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.container{
    @include fill;
}

#enforce-orientation{
    @include fill;
    background-color: black;
    z-index: 10000;
    display: none;
    color:white;

}



#menu{
    display:flex;
    flex-direction: column;
    padding:1em;
    height:100%;
    box-sizing: border-box;
}

#tutorial{
    height:100%;
    display:flex;
    flex-direction: column;
    padding:1em;
    box-sizing: border-box;
}







#game{
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    align-items: center;
    padding:5px;
    box-sizing: border-box;
    max-width:800px;
    margin:0 auto;
}

#enemyMove{
    flex:1;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

#enemyStats{
  position:absolute;
  top:2px;
  right:2px;
  margin:0;
}

.card{
    border: 10px solid black;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    width: 30%;
    min-width: 200px;
    max-width:300px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 25px 12px -10px #ccc;
    h1,h2,h3,h4{
        margin:0;
        margin-top:5px;
    }
    img{
        width:100%;
    }
    p{
        margin:2px 0px
    }


}

.info{
    @include fill;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    div{
        background-color: black;
        color:white;
        padding:5px;
        text-align: center;
    }
}

#playerMoves{
    display:flex;
    justify-content: space-around;
    align-items:center;
    position: relative;
    padding-bottom:32px;
    width:100%;

    .card{
        padding:2px;
        width:30%;
        min-width: 100px;
        border: 5px solid black;
        font-size:0.5em;
    }
}

#desc{
    text-align: center;
    margin:3px 0px;
    min-height:33px;
}

@keyframes cardhover {
  0% {
    transform: translateY(0);
    box-shadow: 0px 25px 12px -20px black
  }
  100% {
    transform: translateY(-10px);
    box-shadow: 0px 25px 12px -10px #ccc
  }
}

.hover{
    animation: cardhover 1s linear infinite alternate;
}

@mixin thinkingCircle{
    width:100%;
    height:100%;
    border-radius: 50%;
    position: absolute;
}

.card.selected::before{
  content:"";
  display:inline-block;
  background-color:#8e44ad;
  position:absolute;
  height:20px;
  left:43%;
  right:43%;
  top:-35px;
  left:40%;
  animation: select 200ms ease-in-out infinite alternate;
}

@keyframes select{
  0%{left:43%;right:43%}
  100%{left:50%;right:50%}
}

.lose {
    outline: 2px solid red;
}

.win{
    outline: 2px solid lightgreen;
}


.thinking{
    width:50px;
    height:50px;
    position:relative;
    margin:0 auto;

    .thinking-1{
        @include thinkingCircle;
        background-color:rgba(142, 68, 173,0.5);
        animation: thinking1 750ms linear infinite alternate;
    }

    .thinking-2{
        @include thinkingCircle;
        background-color:rgba(0,0,0,0.5);
        animation: thinking2 750ms linear infinite alternate;
    }
}

@keyframes thinking1 {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes thinking2 {
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}

#playerStats{
  position:absolute;
  bottom:2px;
  left:2px;
  margin:0;
}

#nextRound{
  position:absolute;
  bottom:2px;
  right:2px;
}

@media(min-width: 760px){
  .card{
    width:34%;

  }
  #playerMoves{
    .card{
      width:22%;
      font-size:0.6em
    }
  }
}

@media screen and (max-width:760px) and (orientation:landscape){
  #enforce-orientation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
      width:100px;
    }
  }
}

#preload{
  @include fill;
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
